doctype html
html(lang="en")
    head
        meta(name="apple-mobile-web-app-capable", content="yes")
        title MEPS
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600', rel='stylesheet' type='text/css')
        link(rel='stylesheet', type="text/css", href="/style-#{stylesheets.main.hash}.css")
    body()
        .supercontainer
            //- .testing
            //-.surface.bg.showing
            block body
                
block scripts
    each script in javascripts
        script(src=script, type="text/javascript", charset="UTF-8")
    
    //-.oldscripts 
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/lib/jquery.min.js")
        script(src="/scripts/scripts.js")