extends ../layouts/main

block body
    .surface.photograph.buffer.showing(style="background-image: url('/images/photographs/#{first_photograph}');")
        .note buffer
    .surface.photograph.main.showing(style="background-image: url('/images/photographs/#{first_photograph}');")
        .note main

block pagespecific_scripts
    script(src='/scripts/slideshow.js', type="text/javascript", charset="UTF-8")