extends ../../layouts/main

block body
    .surface.bg-tb.showing(class="tbid-#{thoughtbubble_id}")
    #tb_id(data-thoughtbubble_id="#{thoughtbubble_id}")
    .surface.thought_bubble.buffer(class="tbid-#{thoughtbubble_id}")
        .note buffer
    .surface.thought_bubble.main(class="tbid-#{thoughtbubble_id}")
        .note main

block pagespecific_scripts
    script(type="text/javascript")
        include scripts.js
    script(type="text/javascript")
        include comms.js