*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #fff;
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 400; }

.supercontainer {
  background: #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .supercontainer.testing .surface .note {
    display: block; }

.surface {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: url(/images/haworth-logo.png);
  background-size: 42%;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat; }
  .surface.transitions {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: transale3d(0, 0, 0);
    transform: transale3d(0, 0, 0); }
  .surface.showing {
    opacity: 1; }
  .surface .note {
    display: none;
    position: absolute;
    top: 10px;
    font-weight: 600;
    font-size: 40px; }
  .surface.bg-tb, .surface.thought_bubble {
    background-color: #000;
    background-size: contain; }
    .surface.bg-tb.tbid-0, .surface.thought_bubble.tbid-0 {
      background-size: 420px; }
    .surface.bg-tb.tbid-1, .surface.thought_bubble.tbid-1 {
      background-size: 456px; }
  .surface.bg-tb {
    background-image: url(/images/_welcome.png); }
  .surface.thought_bubble.latest {
    background-size: cover; }
  .surface.buffer .note {
    left: 10px; }
  .surface.main .note {
    right: 10px; }
  .surface.loopinggif {
    background-size: contain;
    background-color: #010101; }
  .surface.admin_panel {
    font-size: 1.2em;
    color: #333;
    padding: 15px;
    background-color: #eaeaea; }
  .surface.information_page {
    color: #272727;
    background-color: #fafafa; }
    .surface.information_page .info_container {
      padding: 15px; }
      .surface.information_page .info_container .chairs {
        zoom: 1; }
        .surface.information_page .info_container .chairs:before {
          content: '';
          display: block; }
        .surface.information_page .info_container .chairs:after {
          content: '';
          display: table;
          clear: both; }
      .surface.information_page .info_container .chair {
        width: 50%;
        float: left;
        text-align: center; }
        .surface.information_page .info_container .chair .fs {
          background-color: #eaeaea;
          padding: 20px 0;
          font-size: 2.5em; }
          .surface.information_page .info_container .chair .fs.fs-0, .surface.information_page .info_container .chair .fs.fs-1 {
            margin-right: 15px; }
          .surface.information_page .info_container .chair .fs.fs-2, .surface.information_page .info_container .chair .fs.fs-3 {
            margin-left: 15px; }

.gradient {
  position: absolute;
  left: 0;
  width: 100%; }
  .gradient.video1 {
    top: 0;
    height: 250px;
    background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }
  .gradient.video2 {
    bottom: 76px;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }

.button {
  cursor: pointer;
  display: inline-block;
  border: 1px solid darkblue;
  padding: 5px 8px;
  margin: 10px 0;
  background: #fff;
  color: #333; }
  .button:hover {
    background-color: #383838;
    color: #eee; }
